body{
    height: 100vh;
    background-color: rgb(223, 220, 220);

    background-image: url(https://i.ibb.co/Rp5tysD/web-design-online.jpg );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title, #description{
    text-align: center;
}
#title{
    font-family: sans-serif, Impact;
}
#description{
    font:italic;
}
.surveys{
    background-color: #cffafe;
    
    align-items: center;
    justify-content: center;
    height: 90%;
    max-height: 100%;
    max-width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0;

    padding-bottom: 2.75%;
    padding-top:3%
}
.recomendations{
    margin-top: 15px;
}